courses.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="courses">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="course" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="course_id" type="xs:string" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="major" type="xs:string" />
							<xs:element name="credits" type="xs:int" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
